@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@200&family=Raleway:wght@600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.icon {
  width: 50px;
  height: 50px;
}

.bg-coral {
  background-color: bisque;
}

body {
  font-family: sans-serif;
}

.containerGrid {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0.15fr 1fr 1fr 1fr 0.1fr;
  grid-template-areas: "header header header header" "main main main main" "main main main main" "main main main main" "footer footer footer footer";
}

main {
  grid-area: main;
}

h1 {
  background-color: lightgrey;
  padding: 20px;
  padding-left: 40px;
  font-weight: lighter;
}

h2 {
  background-color: #eae5ee;
  padding: 20px;
  padding-left: none;
  font-weight: bolder;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  border: 4px;
  margin-left: 600px;
  margin-right: 600px;
  margin-top: 100px;
}

a {
  text-decoration: none;
  padding-left: 18px;
  padding-top: 30px;
  padding-right: 20px;
  list-style: none;
}

nav ul {
  padding: 50px;
  display: flex;
  flex-direction: row;
  gap: 80px;
  align-items: center;
  list-style: none;
  justify-content: center;
}

.Noticia {
  padding: 15px;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto;
  grid-template-areas: "imagen noticiaTitle" "textoNoticia textoNoticia";
}

.imagenNoticia {
  padding: 20px;
  grid-area: imagen;
}

.noticiaTitle, .noticiaTitle2 {
  grid-area: noticiaTitle;
  font-size: 22px;
  font-weight: bold;
  padding: 25px;
  padding-top: 100px;
}

.noticiaTitle::after, .noticiaTitle2::after {
  content: "ULTIMA GENERACION!";
  color: rgb(144, 36, 145);
}

.noticiaTitle2 {
  text-align: left;
  align-self: center;
}

.textoNoticia {
  grid-area: textoNoticia;
  padding: 25px;
  font-size: 22px;
  text-indent: 41px;
  text-align: justify;
  align-self: center;
}

.cardx {
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cardz {
  height: 50px;
  padding: 5px;
  padding-left: 1px;
  padding-right: 1px;
  padding-bottom: 300px;
  border: 15px;
  margin: 15px;
  background-image: linear-gradient(to left top, #837d81, #989398, #adaaaf, #c2c1c7, #d8d9df, #cccdd2, #c0c0c5, #b4b4b8, #858386, #575657, #2d2d2d, #000000);
  border-radius: 10%;
}

.cardz:hover {
  transform: scale(1.2);
}

.cardImagen {
  position: relative;
  padding: 7px;
  padding-left: 110px;
  border: 3px;
  border-radius: 95%;
}

.cardTexto {
  padding: 5px;
  padding-left: 40px;
  border: 1px;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.cardPrecio {
  font-weight: bolder;
  font-size: 16px;
  padding-left: 40px;
}

.cardButton {
  padding-left: 110px;
}

.cardButton img {
  border-radius: 40%;
}

.textoNoticia2 {
  font-size: 22px;
  line-height: 35px;
}

.quienesSomos {
  font-size: 26px;
  padding: 40px;
  text-align: center;
}

.quienesSomos p::first-letter {
  color: rgb(148, 67, 194);
  font-size: 50px;
}

.logo-s {
  width: 200px;
}

.header {
  color: #16406a;
  font-size: 27px;
  padding: 20px;
  background-color: rgba(190, 186, 186, 0.5607843137);
  margin: 20px;
  width: 380px;
  list-style: none;
}

.bigicon {
  font-size: 35px;
  color: #070809;
  text-decoration: none;
}

.terminosTexto {
  font-size: 24px;
  padding: 40px;
  margin: 20px;
  text-indent: 50px;
}

.terminosTexto p:first-child::first-letter {
  color: rgb(47, 22, 139);
  font-size: 50px;
}

.terminos {
  padding: 20px;
  margin: 40px;
}

.slide-in-elliptic-top-fwd {
  -webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}
.slide-in-top {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
.contact {
  -webkit-animation: contact 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation: contact 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

@-webkit-keyframes contact {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes contact {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
.flip-in-hor-bottom {
  -webkit-animation: flip-in-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: flip-in-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@media (max-width: 1200px) {
  .containerGrid {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.14fr 1fr 1fr 1fr 0.1fr;
    grid-template-areas: "header header header header" "main main main main" "main main main main" "main main main main" "footer footer footer footer";
  }
  .hea {
    grid-area: header;
    font-family: sans-serif;
    display: flex;
    height: 150px;
    padding-left: 40px;
    background-color: bisque;
    justify-content: space-between;
    font-family: "Inter Tight", sans-serif;
    font-weight: bold;
  }
  main {
    grid-area: main;
  }
  .logo {
    text-decoration: none;
    color: black;
    list-style: none;
  }
  .hl2 {
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    padding: 10px;
    font-weight: bolder;
    border: 4px;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 100px;
    background-color: #eae5ee;
  }
  .Noticia {
    padding: 30px;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: auto;
    grid-template-areas: "imagen" "noticiaTitle" "textoNoticia" "textoNoticia";
  }
  .imagenNoticia {
    grid-area: imagen;
  }
  .noticiaTitle, .noticiaTitle2 {
    grid-area: noticiatitle;
    font-size: 22px;
    font-weight: bold;
    padding: 50px;
    padding-top: 110px;
    text-align: justify;
    justify-content: center;
  }
  .noticiaTitle2 {
    grid-area: noticiaTitle;
    font-size: 22px;
    font-weight: bold;
    padding: 50px;
    text-align: left;
    align-self: center;
  }
  .textoNoticia {
    grid-area: textoNoticia;
    padding: 25px;
    font-size: 22px;
    text-indent: 41px;
    text-align: justify;
    align-self: center;
  }
  .cardx {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-self: center;
    align-items: center;
    align-content: center;
  }
  .cardz:hover {
    transform: scale(1.2);
  }
  .cardImagen {
    position: relative;
    padding: 7px;
    border: 3px;
    border-radius: 75%;
  }
  .cardTexto {
    padding: 5px;
    border: 1px;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
  }
  .cardPrecio {
    font-weight: bolder;
    font-size: 16px;
    padding: 10px;
  }
  .cardButton {
    padding-left: 110px;
  }
  .cardButton img {
    border-radius: 40%;
  }
  .textoNoticia2 {
    font-size: 22px;
    line-height: 35px;
  }
  .quienesSomos {
    font-size: 26px;
    padding: 40px;
    text-align: center;
  }
  .quienesSomos p::first-letter {
    color: rgb(85, 126, 195);
    font-size: 50px;
  }
}
@media (max-width: 992px) {
  .containerGrid {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.15fr 1fr 1fr 1fr 0.1fr;
    grid-template-areas: "header header header header" "main main main main" "main main main main" "main main main main" "footer footer footer footer";
  }
  main {
    grid-area: main;
  }
  .logo {
    text-decoration: none;
    color: black;
    list-style: none;
  }
  .hl2 {
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    padding: 20px;
    font-weight: bolder;
    border: 4px;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 100px;
    background-color: #eae5ee;
  }
  .card {
    padding-bottom: 100px;
  }
}
@media (max-width: 576px) {
  .imagenNoticia {
    padding: 10px;
    grid-area: imagen;
    width: 25px;
    height: 25px;
  }
  .noticiaTitle, .noticiaTitle2 {
    grid-area: noticiaTitle;
    font-size: 22px;
    font-weight: bold;
    padding: 25px;
    padding-top: 150px;
    text-align: justify;
    justify-content: center;
  }
}
.noticiaTitle2 {
  grid-area: noticiaTitle;
  font-size: 22px;
  font-weight: bold;
  padding: 25px;
  text-align: left;
  align-self: center;
}

.textoNoticia {
  grid-area: textoNoticia;
  padding: 25px;
  font-size: 22px;
  text-indent: 41px;
  text-align: justify;
  align-self: center;
}

.cardx {
  padding-left: 15px;
}

@media (max-width: 480px) {
  body {
    font-size: 14px;
  }
  .containerGrid {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "header" "main" "main" "main" "footer";
  }
  header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 0.25fr;
    grid-template-areas: "logo" "nav";
  }
  .cardx {
    padding-left: none;
    padding-right: none;
  }
}

/*# sourceMappingURL=styles.css.map */
