@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@200&family=Raleway:wght@600&display=swap');
/** font-family: 'Inter Tight', sans-serif;
font-family: 'Raleway', sans-serif;*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
}

body {
  font-family: sans-serif;
}

.containerGrid{
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0.15fr 1fr 1fr 1fr 0.10fr;
  grid-template-areas: 
  "header header header header"
  "main main main main"
  "main main main main"
  "main main main main"
  "footer footer footer footer";
}

header {
  grid-area: header;
  font-family: sans-serif;
  display: flex;
  height: 110px;
  padding-left: 40px;
  background-color: bisque;
  justify-content: space-between;
  font-family: 'Inter Tight', sans-serif;
  font-weight: bold;
}

main {
  grid-area: main;
}
a {
  text-decoration: none;
  color:black
}
nav ul {
  padding: 50px;
  display: flex;
  flex-direction: row;
  gap: 80px;
  align-items: center;
  list-style: none;
  justify-content: center
}
h1 {
  background-color: lightgrey;
  padding: 20px;
  padding-left: 40px;
  font-weight: lighter;
}
h2 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  padding: 40px;
  font-weight: bolder;
}

.doble {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

.Noticia {
  padding: 30px;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "imagen noticiaTitle"
  "textoNoticia textoNoticia";  
}

.Noticia2 {
  padding: 30px;
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "imagen noticiaTitle"
  "textoNoticia textoNoticia"; 
}

.imagenNoticia {
  padding: 20px;
  grid-area: imagen;
}

.noticiaTitle {  
  grid-area: noticiaTitle;
  font-size: 22px;
  font-weight: bold;
  padding: 25px;
  text-align: left;
  align-self: center;
}

.noticiaTitle2 {
  grid-area: noticiaTitle;
  font-size: 22px;
  font-weight: bold;
  padding: 25px;
  text-align: left;
  align-self: center;
}
.textoNoticia {
  grid-area: textoNoticia;
  padding: 5px;
  font-size: 22px;
  text-indent: 41px;
  ;
}
.cardx3 {
  display: flex;
  flex-wrap: wrap;

}
.card {
  height: 350px;
  padding: 50px;
  padding-left: 75px;
  border: 2px;
  margin: 100px;
  background-color: darkgray; 
  
}

.cardImagen {
  position: relative;
  padding: 7px;
  border: 3px;
  border-radius: 75%; 
}
.cardTexto {
  padding: 5px;
  border: 1px;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}
.cardPrecio {
  font-weight: bolder;
  font-size: 16px;
  padding: 10px;  
}
.cardButton {
  padding-left: 110px;
}
.cardButton img {
  border-radius: 40%;
}
footer {
  grid-area: footer;
  background-image: url(../assets/imgs/bottom.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: flex
} 
footer section ul {
  display: flex;
  flex-direction: column;
  font-weight: bolder;
  text-align: left  ;
  padding: 28px;
  list-style: none;
  line-height: 30px;
  text-decoration: none;
  color:beige
} 
footer .social {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  gap: 100px;
  margin-left: 250px;
  padding: 50px;
}
.textoNoticia2 {
  font-size: 22px;
  line-height: 35px;
}
.quienesSomos {
  font-size: 26px;
  padding: 40px;
  text-align: center;
}
.form {
  font-family: 'Inter Tight', sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.marco1 {
  padding: 40px;
  margin: 25px;
}
.marco2 {
  padding: 40px;
  margin: 25px;
}
.terminosTexto {
  font-size: 24px;  
  padding: 60px;
  margin: 25px;
}
.terminos {
  padding: 40px;
  margin: 40px;
}
