body {
    font-family: sans-serif;
  }

  .containerGrid{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.15fr 1fr 1fr 1fr 0.10fr;
    grid-template-areas: 
    "header header header header"
    "main main main main"
    "main main main main"
    "main main main main"
    "footer footer footer footer";
  }

  main {
    grid-area: main;
  }

  h1 {
    @include haches ($color-h1, 20px, 40px, lighter); 

  }
  
  h2 {
    @include haches ($color-h2, 20px, none, bolder);
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: $tamano-letra-h2 ;
    border: 4px;
    margin-left: 600px;
    margin-right: 600px;
    margin-top: 100px;
   
  }
  
