@media (max-width: 1200px) {
    .containerGrid{
      display: grid;
      height: 100%;
      width: 100%;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 0.14fr 1fr 1fr 1fr 0.10fr;
      grid-template-areas: 
      "header header header header"
      "main main main main"
      "main main main main"
      "main main main main"
      "footer footer footer footer";
    }
    
    .hea {
      grid-area: header;
      font-family: sans-serif;
      display: flex;
      height: 150px;
      padding-left: 40px;
      background-color: bisque;
      justify-content: space-between;
      font-family: 'Inter Tight', sans-serif;
      font-weight: bold; 
    }
    
    main {
      grid-area: main;
    }
    
    .logo {
      text-decoration: none;
      color:black;
      list-style: none;
    }
    
    
    .hl2 {
      text-align: center;
      font-family: 'Raleway', sans-serif;
      font-size: 20px;
      padding: 10px;
      font-weight: bolder;
      border: 4px;
      margin-left: 500px;
      margin-right: 500px;
      margin-top: 100px;
      background-color:  #eae5ee; 
    }
    
   
    .Noticia {
      padding: 30px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas: 
      "imagen" 
      "noticiaTitle"
      "textoNoticia"
      ;  
    }
    .imagenNoticia {
      grid-area: imagen;
    }
    .noticiaTitle{  
      grid-area: noticiatitle;
      font-size: 22px;
      font-weight: bold;
      padding: 50px;
      padding-top: 110px;
      text-align: justify;
      justify-content: center;
      }
    .noticiaTitle2 {
      grid-area: noticiaTitle;
      font-size: 22px;
      font-weight: bold;
      padding: 50px;
      text-align: left;    
      align-self: center;  
    }
    .textoNoticia {
      grid-area: textoNoticia;
      padding: 25px;
      font-size: 22px;
      text-indent: 41px;
      text-align: justify;
      align-self: center;
    }
    
    .cardx {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-self: center;
      align-items: center;
      align-content: center;
      
    }
    .cardz:hover {
      transform: scale(1.2)
    }
    .cardImagen {
      position: relative;
      padding: 7px;
      border: 3px;
      border-radius: 10%; 
    }
    .cardTexto {
      padding: 5px;
      border: 1px;
      font-size: 18px;
      font-family: 'Raleway', sans-serif;
      font-weight: bold;
    }
    .cardPrecio {
      font-weight: bolder;
      font-size: 16px;
      padding: 10px;  
    }
    .cardButton {
      padding-left: 110px;
      border-color: black;
      border-style: solid;
      border: 3px;
    }
    .cardButton img {
      border-radius: 40%;
     
    }
    
    .textoNoticia2 {
      font-size: 22px;
      line-height: 35px;
    }
    
    .quienesSomos {
      font-size: 26px;
      padding: 40px;
      text-align: center;
    }
    .quienesSomos p::first-letter {
      color: rgb(85, 126, 195);
      font-size: 50px;
    } 
}