.quienesSomos {
    font-size: 26px;
    padding: 40px;
    text-align: center;
  }
  .quienesSomos p::first-letter {
    color: rgb(148, 67, 194);
    font-size: 50px;
  } 

  .logo-s {
    width: 200px;
    
  }